html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    background: rgb(75, 25, 105);
    background: linear-gradient(176deg, rgba(75, 25, 105, 1) 0%, rgba(54, 16, 80, 1) 48%, rgba(32, 6, 54, 1) 100%);
}

.loginContainer {
    background-color: rgb(76, 24, 109);
    border-radius: 50px;
    padding: 18px;
    margin-bottom: 20px;
    width: 78%;
    justify-items: center;
}

label {
    color: white;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
}

input {
    background-color: rgba(114, 36, 160, 1);
    border-radius: 50px;
    color: white;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    border-color:rgb(145, 64, 221);
    margin: 6px;
    padding: 6px;
}

.register {
    color: white;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    color: white;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;;
    background-color: rgb(96, 30, 134);
    font-size: 25px;
    border-radius: 50px;
    padding: 10px;
    width: 160px;
    border-color: rgb(123, 36, 204);
}