html,
body {
    height: 100%;
    background: rgb(75, 25, 105);
    background: linear-gradient(176deg, rgba(75, 25, 105, 1) 0%, rgba(54, 16, 80, 1) 48%, rgba(32, 6, 54, 1) 100%);
}

.headerGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 620px));
    justify-content: center;
}

.wrapper h1 {
    color: white;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 57px;
    line-height: 56px;
    margin: 0;
}

.wrapper h2 {
    color: white;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    width: 84.8%;
    margin-top: 10px;
}


img {
    height: 450px;
    margin-right: -45px;
    transition: 1s;
    position: relative;
    z-index: 1;
}

img:hover {
    transform: translateX(-10%);
}
