html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    background: rgb(75, 25, 105);
    background: linear-gradient(176deg, rgba(75, 25, 105, 1) 0%, rgba(54, 16, 80, 1) 48%, rgba(32, 6, 54, 1) 100%);
}

.headerGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 620px));
    justify-content: center;
}

.wrapper h1 {
    color: white;
    font-family: "Montserrat", serif;
    font-weight: 900;
    font-size: 57px;
    line-height: 56px;
    margin: 0;
}

.wrapper h2 {
    color: white;
    font-family: "Montserrat", serif;
    font-weight: 200;
    font-size: 20px;
    width: 84.8%;
    margin-top: 10px;
}


.wrapper img {
    height: 500px;
    width: 188px;
    margin-right: -62px;
    transition: 1s;
    position: relative;
    z-index: 1;

}

.wrapper img:hover {
    transform: translateX(-10%);
}

.titleFilmes h1 {
    color: white;
    font-family: "Montserrat", serif;
    font-weight: 900;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.swiper-slide {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.swiper-slide img {
    width: 90%;
    height: auto;
    transition: 0.5s;
    position: relative;
    z-index: 1;
}

.swiper-slide img:hover {
    transform: translateY(-5%);
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-wrapper {
    background-color: rgba(93, 28, 132, 1);
    padding-top: 30px;
    padding-bottom: 30px;
    width: fit-content;
}

.swiper-button-prev,
.swiper-button-next {
    padding: 8px 16px;
    border-radius: 100%;
    color: white;
}

.titleBeneficios h1 {
    color: white;
    font-family: "Montserrat", serif;
    font-weight: 900;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.beneficios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 620px));
    justify-content: center;
}

.beneficiosList {
    background-color: rgba(56, 17, 82, 1);
    margin-left: 20px;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.beneficiosList h2 {
    color: rgba(143, 107, 254, 1);
    font-family: "Montserrat", serif;
    font-weight: 900;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 18px;
}

.beneficiosList p {
    color: white;
    font-family: "Montserrat", serif;
    font-weight: 200;
    font-size: 17px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.rectangle{
    width: 100%;
    height: 2px;
    background: rgba(143, 107, 254, 1);
    display: flex;
    justify-content: center;
}

.footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background: rgba(93, 28, 132, 1);
    padding: 30px;
}

.footer p {
    color: white;
    font-family: "Montserrat", serif;
    font-weight: 200;
    font-size: 17px;
    padding-left: 50px;
}

.footer img {
    max-height: 40px;
    height: auto;   
    width: auto;
    margin-top: 10px;
}