nav {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a {
    color: aliceblue;
    margin: 60px;
    text-decoration: none;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: large;
}

nav img {
    max-height: 60px;
    height: auto;   
    width: auto;
    cursor: pointer;
    margin-right: 30px;
}